•⁠  ⁠{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #2c2929;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #e3e5ea;
}

.subtitle {
  text-align: center;
  color: #faf5f5;
  margin-bottom: 30px;
}

.balance-card {
  background: #03195b;
  color: #FFFFFF;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 25px;
}

.transfer-box {
  background: #353333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px #efeded ;
  margin-bottom: 25px;
}

.transfer-box h2 {
  margin-bottom: 15px;
}

.transfer-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.transfer-box button {
  width: 100%;
  padding: 12px;
  background: #021642;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.transfer-box button:hover {
  background: #03195b;
}

.history {
  background: #353333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px #FFFFFF;
}

.history h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #03195b;
  color: white;
}